<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asus.com.example.asus.cardview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <provider
        android:name="com.facebook.FacebookContentProvider"
        android:authorities="com.facebook.app.FacebookContentProvider191141724982070"
        android:exported="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.category.BROWSABLE" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
                <data
                    android:host="t4jsample"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MesajGosterActivity" />
        <activity android:name=".YaziEkle" />
        <activity
            android:name=".GetTweets"
            android:label="@string/title_activity_get_tweets" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".navigationdrawe.fragments.FragmentAlarm" />
        <activity android:name=".navigationdrawe.fragments.FragmentPaylasim" />
        <activity android:name=".navigationdrawe.fragments.FragmentGps" />
    </application>

</manifest>